@charset "UTF-8";
/*================
		FW: Reset
=================*/
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html, body {
  width: 100%;
  height: 100%; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button {
  overflow: visible;
  text-align: center; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*================
		FW: helpers
=================*/
.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.long_shadow-text {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #333332;
  letter-spacing: 10px;
  text-shadow: 0px 0px 0 #b3b3b1, 1px 1px 0 #b3b3b1, 2px 2px 0 #b3b3b1, 3px 3px 0 #b3b3b1, 4px 4px 0 #b3b3b1, 5px 5px 0 #b3b3b1, 6px 6px 0 #b3b3b1, 7px 7px 0 #b3b3b1, 8px 8px 0 #b3b3b1, 9px 9px 0 #b3b3b1, 10px 10px 0 #b3b3b1, 11px 11px 0 #b3b3b1, 12px 12px 0 #b3b3b1, 13px 13px 0 #b3b3b1, 14px 14px 0 #b3b3b1, 0px 0px 0 #b3b3b1; }

/*======================
    · helpers
=======================*/
.max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 950px; }

/*===============================
		· Custom Reset / Normalize
================================*/
html {
  background-color: white; }

body {
  background-color: transparent;
  font-family: chaparral-pro, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  line-height: 1.54;
  tex-rendering: optimizeLegibility; }

small, .small {
  font-size: 18px;
  font-size: 1.125em;
  font-size: 1.125rem; }

nav ul li, nav a li {
  list-style: none; }

ul {
  list-style: circle inside none; }

ol {
  list-style: decimal inside none; }

b, strong, .strong {
  font-weight: 700; }

em, i, .em {
  font-style: italic;
  font-weight: 300; }

h1, h2, h3, h4, h5 {
  font-family: nudista-web, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  h1 em, h1 i, h1 .em, h2 em, h2 i, h2 .em, h3 em, h3 i, h3 .em, h4 em, h4 i, h4 .em, h5 em, h5 i, h5 .em {
    font-weight: inherit; }

p, ol, ul, dl {
  font-size: 21px;
  font-size: 1.3125em;
  font-size: 1.3125rem;
  line-height: 1.54;
  font-weight: 300;
  color: #333332;
  letter-spacing: 0.07rem; }

button, a, a:hover, a:link, a:visited, a:focus, a:active {
  cursor: pointer;
  text-decoration: none;
  color: inherit; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

::-moz-selection {
  background-color: #e5d580;
  background-color: rgba(213, 213, 213, 0.6);
  color: inherit; }

::selection {
  background-color: #e5d580;
  background-color: rgba(213, 213, 213, 0.6);
  color: inherit; }

/*======================
		· Tipografia
========================*/
h1 {
  font-size: 70px;
  font-size: 4.375em;
  font-size: 4.375rem;
  line-height: 1.618;
  font-weight: 400;
  letter-spacing: 0.07rem;
  color: #333332; }

h2 {
  font-size: 55px;
  font-size: 3.4375em;
  font-size: 3.4375rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.07rem;
  color: #333332; }

h3 {
  font-size: 34px;
  font-size: 2.125em;
  font-size: 2.125rem;
  line-height: 1.618;
  font-weight: 400;
  letter-spacing: 0.07rem;
  color: #333332; }

h4 {
  font-size: 21px;
  font-size: 1.3125em;
  font-size: 1.3125rem;
  line-height: 1.618;
  font-weight: 400;
  letter-spacing: 0.07rem;
  color: #333332; }

h5 {
  font-size: 13px;
  font-size: 0.8125em;
  font-size: 0.8125rem;
  line-height: 0.618;
  font-weight: 400;
  letter-spacing: 0.07rem;
  color: #333332; }

@media only screen and (max-width: 48em) {
  h1 {
    font-size: 26.73874px;
    font-size: 1.67117em;
    font-size: 1.67117rem; }

  h2 {
    font-size: 21.00901px;
    font-size: 1.31306em;
    font-size: 1.31306rem; }

  h3 {
    font-size: 12.98739px;
    font-size: 0.81171em;
    font-size: 0.81171rem; }

  h4 {
    font-size: 8.02162px;
    font-size: 0.50135em;
    font-size: 0.50135rem; }

  h5 {
    font-size: 4.96577px;
    font-size: 0.31036em;
    font-size: 0.31036rem; } }
p {
  font-size: 21px;
  font-size: 1.3125em;
  font-size: 1.3125rem;
  line-height: 1.54;
  font-weight: 300; }
  p a {
    padding: 0 0 0 2px;
    border-bottom: 1px dotted #da2734; }
    p a:link, p a:visited {
      color: #da2734; }
    @media only screen and (min-width: 37.5em) {
      p a {
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease; } }
    @media only screen and (min-width: 37.5em) {
      p a:hover, p a:active {
        color: #16a085;
        border-bottom: 1px dotted #16a085; } }

blockquote {
  border-left: solid 12px #f95753;
  width: 82%;
  max-width: 600px;
  padding: 46px;
  background: white; }
  blockquote p {
    font-size: 21px;
    font-size: 1.3125em;
    font-size: 1.3125rem;
    padding-bottom: 23px; }

cite {
  font-size: 19px;
  font-size: 1.1875em;
  font-size: 1.1875rem; }
  cite:before {
    content: '\2014 \00A0'; }

/*============================
		·  FW: Font Icon
============================*/
@font-face {
  font-family: icomoon;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg"); }
[class^="icon-"], [class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-microphone:before {
  content: "\e600"; }

.icon-transformers:before {
  content: "\e601"; }

.icon-batman:before {
  content: "\e602"; }

.icon-spaceinvaders:before {
  content: "\e603"; }

.icon-bomb:before {
  content: "\e604"; }

.icon-diamond:before {
  content: "\e605"; }

.icon-atom:before {
  content: "\e606"; }

.icon-yingyang:before {
  content: "\e607"; }

.icon-navigation:before {
  content: "\e608"; }
