//- matricula
- autor          		 = "Jordi Casamiquela Pérez"
- titulo 					   = " "
- twitter        		 = "@j_casamiquela"
- meta_description 	 = " "
- idioma             = "ca"



//- Noms dels arxius
- name_typekit   = "ljm4mvb"

if seccio == "guia"

	- name_css    = "guia"
	- scripts 		= "scripts-guia"

else
	- name_css    = "style"
	- scripts 		= "scripts"



//- Directoris
- folder_img    	  = "img"
- folder_css        = "css/" + name_css + ".css"
- folder_favicon    = folder_img + "/fav"
- folder_js         = "js"


//- separadors
- whitespace     = " "
- guio           = "-"
- slash          = "/"


//- variables locals
