
doctype html
html(lang="es")


  block vars
  include includes/_variables
  head
    include includes/head
  body
    <!--[if lt IE 8]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

    block contingut

    include includes/scripts
    block scripts
    include includes/svg